.addition__list {
  @include reset-list;
}

.addition__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.addition__subtitle {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.addition__value,
.addition__price {
  font-size: 14px;
  line-height: 14px;

  @include accessory-text;
}

.addition__button {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .addition__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .addition__subtitle {
    width: 324px;
  }
}
