.copyright__text {
  margin-right: 134px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @include accessory-text;
}

.copyright__icon {
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 22px;
  }
}
