.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  width: 141px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;

  @include accessory-text;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 22px;
  }
}
