.example {
  padding: 20px;
  background-color: $main-bg-color;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  @include accessory-text;
}

.example__fact-value {
  font-size: 24px;
  line-height: 24px;
}

.example__fact-title {
  font-size: 12px;
  line-height: 12px;

  @include accessory-text;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__facts {
    display: flex;
    justify-content: space-between;
  }

  .example__cost {
    width: 180px;
    text-align: right;
  }

  .example__image {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .example__facts {
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
  }

  .example__text {
    width: 450px;
  }

  .example__cost {
    width: auto;
    text-align: left;
  }

  .example__image {
    margin-top: -250px;
    text-align: auto;
  }
}
