.example {
  padding-bottom: 35px;
  background-color: $main-bg-color;
}

.example__wrapper {
  padding: 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-right: 10px;

  @include accessory-text;
}

.example__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.example__item {
  box-sizing: border-box;
  width: 123px;
  padding: 15px 0 10px 0;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.example__fact-value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__fact-title {
  width: 65px;
  margin: 0 auto;
  padding: 5px 11px 0 11px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: -25px;
  background-color: $main-bg-color;

  @include accessory-text;
}

.example__cost {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__image-wrapper {
  width: 320px;
  margin-bottom: 29px;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 198px;
  margin: 0 auto;
  padding-left: 5px;
}

.example__state-btn {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;
  background-color: transparent;
}

.example__progress {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 50px;
  background-color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 50%;
    right: 5px;
    width: 35px;
    height: 6px;
    background-color: $theme-bg-color;
    transform: translateY(-50%);
    transition: 0.3s;
    border-radius: 50px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 28px;
    background-color: #ffffff;
  }

  .example__wrapper {
    padding: 0 30px;
    margin-bottom: 222px;
  }

  .example__title {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__item {
    width: 162px;
    padding: 15px 0 20px 0;
    margin-right: 40px;
    border-radius: 3px;
  }

  .example__fact-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__fact-title {
    width: 130px;
    padding: 10px 9px 0 9px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;

    @include accessory-text;
  }

  .example__cost {
    width: 180px;
    margin-top: -18px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__cost b {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .example__image {
    padding: 52px;
    padding-bottom: 67px;
    background-color: $main-bg-color;
  }

  .example__image-wrapper {
    width: 677px;
    margin: 0 auto;
    margin-top: -220px;
    margin-bottom: 26px;
    text-align: center;
  }

  .example__toggle {
    max-width: 570px;
    padding-left: 0;
  }

  .example__state-btn {
    padding-bottom: 5px;
    border-bottom: 1px dotted #b8b8b8;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 0;
    background-color: $main-bg-color;
  }

  .example__wrapper {
    padding: 0 110px;
  }

  .example__title {
    margin-top: -165px;
    margin-bottom: 147px;
  }

  .example__facts {
    justify-content: flex-start;
    flex-direction: column;
    width: 405px;
  }

  .example__fact-title {
    background-color: $main-bg-color;
  }

  .example__list {
    margin-bottom: 60px;
  }

  .example__text {
    width: 435px;
    margin-bottom: 68px;
  }

  .example__cost {
    align-self: flex-start;
    width: auto;
    margin-top: 0;
    text-align: left;
  }

  .example__cost b {
    display: inline;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .example__image {
    margin-top: -650px;
    margin-left: 600px;
    background-color: transparent;
  }

  .example__image-wrapper {
    margin-bottom: 50px;
  }

  .example__toggle {
    max-width: 520px;
    padding-left: 0;
  }
}
