.features {
  padding: 20px;
}

.features__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.features__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;

  @include accessory-text;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $theme-bg-color;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 50px auto;
  }
}

.features__item--healthy::before {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.features__item--ease::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.features__item--usability::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.features__item--fastness::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.features__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 0 30px;
  }

  .features__title {
    margin-bottom: 184px;
    font-size: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 248px;
    padding-left: 0;
    margin-right: 135px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      top: -112px;
      left: 0;
      width: 80px;
      height: 80px;
      background-position: 15px 15px;
    }

    &:first-child {
      margin-bottom: 245px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      content: "";
      top: -150px;
      left: 118px;
      z-index: -1;
      width: 130px;
      height: 245px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
    }
  }

  .features__item--healthy::after {
    content: "1";
  }

  .features__item--ease::after {
    content: "2";
  }

  .features__item--usability::after {
    content: "3";
  }

  .features__item--fastness::after {
    content: "4";
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 0 110px;
  }

  .features__list {
    justify-content: space-between;
  }

  .features__item {
    width: 247px;
    margin-right: 0;

    &:first-child {
      margin-bottom: 0;
    }
  }
}
