.form {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  @include reset-list;
}

.form__item {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.form__label {
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
}

.form__input,
.form__comment {
  color: #444444;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item--checkbox {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    display: flex;
  }
}
