.gift {
  color: #ffffff;
  background-color: $theme-bg-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
