.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  background-color: $main-bg-color;
  text-align: center;
}

.page-footer__logo {
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social {
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__social {
    width: 324px;
  }
}
