.page-header__logo {
  width: 191px;
  height: 38px;
  padding: 11px 20px 16px 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
    padding-top: 19px;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
    padding: 0;
    margin-right: 95px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 110px;
    padding-top: 50px;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
    margin-right: 538px;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
