.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: $main-bg-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__social {
    width: 324px;
  }
}
