.page-main__container {
  padding: 0 20px;
}

.page-main__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.page-main__promo {
  margin-bottom: 23px;
}

.page-main__features {
  margin-bottom: 25px;
}
