.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card__info {
  font-size: 12px;
  line-height: 16px;

  @include accessory-text;
}
