.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card__info {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
