.profile__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__button {
  font-size: 16px;
  line-height: 20px;
}

.profile__legend {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
