.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  margin-top: -139px;
}

.promo__image-wrapper {
  width: 280px;
  margin: 0 auto;
}

.promo__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 10px 50px 12px 50px;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: $mobile-width-only) {
  .promo__background {
    min-height: 305px;
    color: #ffffff;
    background-color: $theme-bg-color;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 320px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .promo__background {
    width: 430px;
    padding-left: 117px;
  }

  .promo__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__image-wrapper {
    order: 2;
    width: 709px;
    margin-top: 58px;
    z-index: 1;
  }

  .promo__button {
    width: auto;
    margin-bottom: auto;
    margin-left: 119px;
    padding: 16px 29px 16px 25px;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: -120px;
      right: 0;
      z-index: -1;
      width: 720px;
      height: 696px;
      background-color: $theme-bg-color;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 720px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__background {
    width: 530px;
    padding-left: 190px;
  }

  .promo__title {
    padding-top: 77px;
  }

  .promo__slogan {
    margin-bottom: 55px;
  }

  .promo__image {
    margin-top: -425px;
    margin-left: 115px;
  }

  .promo__image-wrapper {
    width: 552px;
  }

  .promo__button {
    width: 245px;
    margin-right: auto;
    margin-left: 190px;
  }
}
