.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include reset-list;
  width: 130px;
  margin: 0 auto;
}

.social__icon--vk {
  width: 22px;
  height: 12px;
  margin-right: 35px;
}

.social__icon--insta {
  width: 16px;
  height: 16px;
  margin-right: 39px;
}

.social__icon--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 130px;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
    margin-right: 28px;
  }

  .social__icon--insta {
    width: 23px;
    height: 23px;
    margin-right: 29px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
