.social__list {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;
  width: 130px;
  margin: 0 auto;
}

.social__icon--vk {
  width: 22px;
  height: 12px;
  margin-right: 35px;
}

.social__icon--insta {
  width: 16px;
  height: 16px;
  margin-right: 39px;
}

.social__icon--fb {
  width: 10px;
  height: 19px;
}
